<a href="https://colab.research.google.com/github/wpdldpss2/Python_course/blob/main/%EC%BF%A8%EB%A1%B1%EC%A7%80%EB%82%98(21951045).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기타

In [ ]:
a = 1000
b = 2000
temp = a
a =b
b=temp
print(a,b)

2000 1000

<pre>
<데이터형(Data type) = 자료형>

정수형(Integer)      int() 
실수형(Float)        float()
문자열형(String)     str()
부울형(Boolean)      bool()
복소수형(Complex)    complex()

리스트(List)         list()
튜플(Tuple)          tuple()
집합(Set)            set()
딕셔너리(Dictionary) dict()
</pre>

In [ ]:
print('-'*30)
print('두 정수의 합을 구하는 프로그램')
print('-'*30)

print()

number1 = int(input('첫번째 정수 : '))
number2 = int(input('두번째 정수 : '))


sum = number1 + number2

#print(number1, '와',number2,'의 합은',sum,'입니다')
#print(str(number1)+'와'+str(number2)+'의 합은'+str(sum)+'입니다.')
print('{:,} 와 {:,} 의 합은 {:,} 입니다' .format(number1,number2,sum))

------------------------------
두 정수의 합을 구하는 프로그램
------------------------------

첫번째 정수 : 100000000000000000
두번째 정수 : 3000000432678432
100,000,000,000,000,000 와 3,000,000,432,678,432 의 합은 103,000,000,432,678,432 입니다

<pre>
표기법(Notation)

1.Snake Case
pen_unit_price

2.Camel Case
penUnitPrice

3. Pascal Case
PenUnitPrice

</pre>

In [ ]:
a = [1, 2, 3, 3, 4, 4, 4, 5]
a =list(set(a))
#a = list(a)

print(a)

<pre>
https://www.w3schools.com/
프로그래밍 연습 페이지

https://pythontutor.com/
파이썬 코드를 분석해주는 페이지
</pre>

In [ ]:
# 모듈

import math

n = math.factorial(5)

print(n)



#모듈에 들어있는것 알아보기

dir(math)



#모듈 일부 가지고오기

from math import factorial

n = factorial(5)



#모듈 중 일부를 여러개 가져오기

from math import(factorial,acos)

n = factorial(5) + acos(1)



#모듈 전부 가져오기

from math import *

n = factorial(5)

<pre>
추천하는 책: 

- Do it! 점프 투 파이썬 
  https://wikidocs.net/35

- 파이썬 코딩 도장
  https://dojang.io/



추천 강의 :

  https://www.edwith.org/pnu-basicpython#

  https://www.edwith.org/sogang_python

  boostcourse
  모두를 위한 파이썬 (PY4E)

# 실습

###실습1

In [ ]:
n =36
print('-' * n)
print(' 파이썬의 세계로 오신걸 환영합니다.')
print('-' * n)

------------------------------------
 파이썬의 세계로 오신걸 환영합니다.
------------------------------------

###실습2

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

### 실습3

In [ ]:
a =100
b = 100.9
c = 'Python'
d = True
e = 2 + 3j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
a = [1,2,3,4,5]
b=(1,2,3,4,5)
c={1,2,3,4,5}
d={'가':1,'나':2,'다':3,'라':4,'마':5}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

print(len(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'complex'>
5

###실습4

In [ ]:
print('-'*23)
print(' BMI를 구하는 프로그램 ')
print('-'*23)

print()

weight = float(input('체중(kg) : '))
height = float(input('신장(m)  : '))

bmi = weight / height**2

print()

print('체중 {}kg 신장 {}m 인 사람의 BMI는 {:.2f} 입니다' .format(weight,height,bmi))

-----------------------
 BMI를 구하는 프로그램
-----------------------

체중(kg) : 55
신장(m)  : 1.74

체중 55.0kg 신장 1.74m 인 사람의 BMI는 18.17 입니다

### 실습5 (과제)

In [ ]:
print('-'*45)
print('화씨는 섭씨, 섭시는 화씨로 변환해주는 프로그램')
print('-'*45)

print()
print('변경을 원치 않는 온도에도 임의의 숫자를 넣어주세요')
print()

fer = float(input('화씨온도 :'))
cel = float(input('섭씨온도 :'))

trFer = cel*(9/5)+32
trCel = (fer - 32)*5/9

print()

print('섭씨를 화씨로 바꾼 온도는 {:.2f}, 화씨를 섭씨로 바꾼 온도는 {:.2f} 입니다.' .format(trCel,trFer))

---------------------------------------------
화씨는 섭씨, 섭시는 화씨로 변환해주는 프로그램
---------------------------------------------

변경을 원치 않는 온도에도 임의의 숫자를 넣어주세요

화씨온도 :350
섭씨온도 :100

섭씨를 화씨로 바꾼 온도는 176.67, 화씨를 섭씨로 바꾼 온도는 212.00 입니다.

### 실습6

In [ ]:
hello = 'Hello, world!'

In [ ]:
a = 'Life is too short, You need Python.'

print(a[0])
print(a[-1])

print(a[3:7])
print(a[-7:-1])

print(a[:5])
print(a[3:])

L
.
e is
Python
Life
e is too short, You need Python.

### 실습7

연습 하면서 설명 한 부분이라 넘어감.

### 실습8

In [ ]:
pen_unit_price = 2000
note_unit_price = 1000

pen_count = int(input('펜의 갯수 입력 : '))
note_count = int(input('노트의 갯수 입력 : '))

total_price = (pen_unit_price * pen_count) + (note_unit_price * note_count)

if total_price > 15000:
  total_price = total_price - total_price * 0.1
  print('총 구매 금액(10% 할인) 은 {:,.0f}원 입니다.' .format(total_price))
else:
  print('총 구매 금액은 {:,}원 입니다.' .format(total_price))

펜의 갯수 입력 : 100
노트의 갯수 입력 : 100
총 구매 금액(10% 할인) 은 270,000원 입니다.

### 실습9

In [ ]:
shoes_unit_price = 100000
shirt_unit_price = 50000

shoes_count = int(input('신발의 갯수 입력   : '))
shirt_count = int(input('티셔츠의 갯수 입력 : '))

total_price = (shoes_count * shoes_unit_price) + (shirt_count * shirt_unit_price)

if total_price >= 300000:
  total_price = total_price - total_price*0.15
  print('총 구매 금액(15%할인) 은 {:,.0f}원 입니다.' .format(total_price))
else: 
  total_price = total_price - total_price*0.05
  print('총 구매 금액(5%할인) 은 {:,.0f}원 입니다.' .format(total_price))

신발의 갯수 입력   : 1
티셔츠의 갯수 입력 : 1
총 구매 금액(5%할인) 은 142,500원 입니다.

### 실습10

In [ ]:
score = int(input('점수를 입력 : '))

if score >= 90:
  print('A등급 입니다.')
elif score >= 80:
  print('B등급 입니다.')
elif score >= 70:
  print('C등급 입니다.')
elif score >= 60:
  print('D등급 입니다.')
else:
  print('E등급 입니다.')

점수를 입력 : 95
A등급 입니다.

### 실습11 (과제)

In [ ]:
first = int(input('첫번째 과목의 점수 : '))
second = int(input('두번째 과목의 점수 : '))
third = int(input('세번째 과목의 점수 : '))

total = first + second + third 

if first <40 or second < 40 or third < 40:
  print('과락')
elif total < 180:
  print('불합격')
else:
  print('합격')

첫번째 과목의 점수 : 39
두번째 과목의 점수 : 100
세번째 과목의 점수 : 100
과락

### 실습12

In [ ]:
#리스트

a = [1, 2, 3, 4, 5]
b = [1, 2, '가', '나', '다']
c = [1, 2, [3, 4, 5], ['가', '나', '다']]

print(len(c))
print(c[1])
print(c[3][1])

a[4] = 500
print(a)

4
2
나
[1, 2, 3, 4, 500]

### 실습13

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

###실습14

In [ ]:
#튜플 (변경불가)

a = (1, 2, 3, 4, 5)
b = (1, 2, '가', '나', '다')
c = (1, 2, (3, 4, 5), ['가', '나', '다']) 

a[4] = 500
print(a)

c[3][1] = 'Python'
print(c)

(1, 2, (3, 4, 5), ['가', 'Python', '다'])

### 실습15

In [ ]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 8, 9, 10)

print(a +b)
print(a * 3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 실습16

In [ ]:
#집합 (순서가 없음) 인덱싱 슬라이싱 불가능 

a = list('python')
b = tuple('python')
c = set('python')

print(a)
print(b)
print(c)

['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')
{'o', 'p', 'y', 't', 'n', 'h'}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

print(a | b)
print(a & b)
print(a - b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

###실습17

In [ ]:
# 딕셔너리

price = {'새우깡':1000, '감자깡':1500, '고구마깡':1300}

print(price['새우깡'])

print(price.keys())
print(price.values())
print(price.items())

1000
dict_keys(['새우깡', '감자깡', '고구마깡'])
dict_values([1000, 1500, 1300])
dict_items([('새우깡', 1000), ('감자깡', 1500), ('고구마깡', 1300)])

###실습18

In [ ]:
#range(start,stop,step)

for i in range(10):
  print(i, end = ' ')  #end 는 가로로 출력하기 위해 작성

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,11):
  print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(0,11,2):
  print(i,end = ' ')

0 2 4 6 8 10

###실습19

In [ ]:
count = int(input('반복할 횟수 입력'))

for i in range(count):
  print('Hello python')

반복할 횟수 입력3
Hello python
Hello python
Hello python

In [ ]:
string = ['시과', '딸기', '바나나', '수박', '복숭아']

for i in string:
  print('저는 {}를(을) 무척 좋아합니다.' .format(i))

저는 시과를(을) 무척 좋아합니다.
저는 딸기를(을) 무척 좋아합니다.
저는 바나나를(을) 무척 좋아합니다.
저는 수박를(을) 무척 좋아합니다.
저는 복숭아를(을) 무척 좋아합니다.

In [ ]:
string = input('임의의 문자열 입력.')

for i in string:
  print(i, end = ' ')

임의의 문자열 입력.jfjdks
j f j d k s

In [ ]:
for i in range(2,10):
  for e in range(1,10):
    print('{} x {} = {}' .format(i,e,i*e))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

###실습20

In [ ]:
i = 1
sum = 0

while i <= 100:
  sum = sum + i
  i = i + 1

print(sum)

5050

In [ ]:
i = 1
sum = 0
j = int(input('숫자를 입력하세요.'))

while i <= j:
  sum = sum + i
  i = i + 1

print(sum)

숫자를 입력하세요.5
15

In [ ]:
number = int(input('숫자를 입력 : '))

if number % 2 == 0:
  print('짝수입니다.')
else: 
  print('홀수입니다.')

숫자를 입력 : 4
짝수입니다.

In [ ]:
i = 0

while True:
  print(i, end=' ')
  i = i + 1
  if i == 100:
    break

In [ ]:
for i in range(1,100):
  if i % 2 ==0:
    continue
  else:
    print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

###실습21

In [ ]:
#사용자함수 정의

def c_area(radius):
    result1 = 3.14 * radius ** 2
    return print('원의 넓이는 {:,.0f}입니다.' .format(result1))

def circum(radius):
  result2 = 3.14 * radius * 2
  return print('원의 둘레는 {:,.0f}입니다.' .format(result2))

radius = int(input('반지름(정수) 입력 : '))

c_area(radius)
circum(radius)

반지름(정수) 입력 : 5
원의 넓이는 78입니다.
원의 둘레는 31입니다.

In [ ]:
def s_to_w(s):
  result1 = 1200 * s
  return print('{:,.2f}달러는 {:,.0f}원 입니다.' .format(s,result1))

def w_to_s(w):
  result2 = w/1200
  return print('{:,.0f}원은 {:,.2f}달러 입니다.' .format(w,result2))

choice = int(input('달러를 원화로 바꾸는 경우는 1, 원화를 달러로 바꾸는 경우에는 2를 입력해주세요.'))

if choice == 1:
  s = float(input('금액 입력($) : '))
  s_to_w(s)
elif choice == 2:
  w = float(input('금액 입력(￦) : '))
  w_to_s(w)
else:
  print('오류')

달러를 원화로 바꾸는 경우는 1, 원화를 달러로 바꾸는 경우에는 2를 입력해주세요.2
금액 입력(￦) : 57896675
57,896,675원은 48,247.23달러 입니다.

### 실습22 (과제)

In [ ]:
def dest(d):
  if d == '서울':
    a = 10000
  elif d == '대전':
    a = 8000
  elif d == '대구':
    a = 6000
  elif d == '울산':
    a = 4000
  else:
    a = 2000
  return a

def kinds(k):
  if k == 'KTX':
    b = 5000
  elif k == '새마을호':
    b = 4000
  elif k == '무궁화호':
    b = 3000
  else:
    b = 2000
    return b 

def seat(s):
  if s == '좌석':
    c = 5000
  else:
    c = 0
  return c

def payment(a,b,c):
  price = a + b + c
  return print('열차 요금은 {:,}원 입니다.' .format(price))


d = input('1. 목적지 입력\n서울/대전/대구/부산\n')
a = dest(d)

k = input('2. 열차종류 입력\nKTX/무궁화호/새마을호/통일호\n')
b = kinds(k)

s = input('3. 좌석종류 입력\n좌석/입석\n')
c = seat(s)

payment(a,b,c)

1. 목적지 입력
서울/대전/대구/부산
d
2. 열차종류 입력
KTX/무궁화호/새마을호/통일호
d
3. 좌석종류 입력
좌석/입석
d
열차 요금은 4,000원 입니다.

In [ ]:
# 22-2 과제

def drink(d):
  if d == '아메리카노':
    a = 5000
  elif d == '카페라떼':
    a = 8000
  else:
    a = 6000
  return a

def size(s):
  if s == '스몰':
    b = 500
  elif s == '레귤러':
    b = 1000
  else:
    b = 2000
  return b

def payment(a,b):
  price = a + b 
  return print('지불금액은 {:,}원 입니다.' .format(price))

d = input('1. 음료 종류\n아메리카노/카페라떼/카푸치노\n')
a = drink(d)

s = input('1. 크기\n스몰/레귤러/라지\n')
b = size(s)

payment(a,b)

1. 음료 종류
아메리카노/카페라떼/카푸치노
아메리카노
1. 크기
스몰/레귤러/라지
스몰
지불금액은 5,500원 입니다.

###실습23

In [ ]:
import random

number = random.randint(1,10)

while True:
  guess = int(input('예상되는 숫자 입력(1~10) : '))
  if number == guess:
    print('정답입니다.')
    break
  else:
    print('오답입니다.')

예상되는 숫자 입력(1~10) : 1
오답입니다.
예상되는 숫자 입력(1~10) : 2
오답입니다.
예상되는 숫자 입력(1~10) : 3
오답입니다.
예상되는 숫자 입력(1~10) : 4
오답입니다.
예상되는 숫자 입력(1~10) : 5
오답입니다.
예상되는 숫자 입력(1~10) : 6
오답입니다.
예상되는 숫자 입력(1~10) : 7
오답입니다.
예상되는 숫자 입력(1~10) : 8
오답입니다.
예상되는 숫자 입력(1~10) : 9
정답입니다.

###실습24

In [ ]:
import random

alphabet = 'abcdefghij'

string = random.choice(alphabet)
print(string)

while True:
  guess = input('예상되는 알파벳 입력(abcdefghij) : ')
  if string == guess:
    print('정답입니다.')
    break
  else:
    print('오답입니다.')

j
예상되는 알파벳 입력(abcdefghij) : j
정답입니다.

In [ ]:
import random

items = [1,2,3,4,5,6,7]

random.shuffle(items)

print(items)

###실습25

In [ ]:
import turtle

t = turtle.Turtle()
t.color('pink')
t.shape('classic')

number = int(input('몇각형을 그릴까요?'))

t.begin_fill()
for i in range(number):
    t.forward(100)
    t.right(360/number)
t.end_fill()

In [ ]:
import turtle
import random

t = turtle.Turtle()
t.color('black')
t.shape('classic') #arrow, circle, square, triangle, classic


t.begin_fill()
for i in range(30):
    t.forward(random.randint(1,100))
    t.right(random.randint(0,90))
t.end_fill()

###실습26

In [ ]:
#파일 생성하기
#close 필수

f = open('python.txt','w') # w : write, r : read, a : append
f.write('Hello, Phyton!')
f.close()

In [ ]:
f = open('python.txt', 'a')
f.write('I love Python.')
f.close()

In [ ]:
f = open('python.txt', 'r')
s = f.read()
print(s)
f.close()

Hello, Phyton!I love Python.

In [ ]:
#with~as~ 쓰면 파일 닫지 않아도 괜찮음.

lines = ['Python\n', 'Swift\n', 'Java\n', 'Kotlin']

with open('language.txt', 'w') as file:
  file.writelines(lines)

In [ ]:
with open('language.txt', 'r') as file:
  lines = file.readlines()
  print(lines)

[]

###실습28

In [ ]:
while True:
  try:  #실행
    x = int(input('나누고자 하는 숫자 입력 : '))
    y = 100 / x
    #print(y)
  except:  #예외발생시
    print('예외가 발생했습니다.')
    break
  else:  #예외발생안할시
    print(y)
  finally:  #항상실행
    print('예외처리 프로그램을 사용중\n')

나누고자 하는 숫자 입력 : 3
33.333333333333336
예외처리 프로그램을 사용중

나누고자 하는 숫자 입력 : 8
12.5
예외처리 프로그램을 사용중

나누고자 하는 숫자 입력 : 0
예외가 발생했습니다.
예외처리 프로그램을 사용중

###실습29

In [ ]:
<!DOCTYPE html>
<html lang = "ko">
  <head>
    <title>처음 만드는 HTML 문서</title>   #탭 이름
  </head>
  <body>
    <h1>파이썬(Python)</h1>  #제목
    <h2>파이썬(Python)</h2>
    <h3>파이썬(Python)</h3>
    <h4>파이썬(Python)</h4>
    <h5>파이썬(Python)</h5>
    <h6>파이썬(Python)</h6>
    <p>인생은 너무 짧다. 당신에겐 파이썬이 필요하다.</p>   #본문
    <img scr = "C:\Users\jinac\Desktop\Scan.jpg">   #이미지
  </body>
</html>

###실습30

In [ ]:
<!DOCTYPE html>
<html lang = "ko">
<head>
<title>span vs div</title>
</head>
<body>
<span style = "background:red">Welcome to Python World!</span>
<span style = "background:green">Welcome to Python World!</span>
<span style = "background:blue">Welcome to Python World!</span>
<div style = "background:red">Welcome to Python World!</div>
<div style = "background:green">Welcome to Python World!</div>
<div style = "background:blue">Welcome to Python World!</div>
</body>
</html>

###실습31

In [ ]:
<!DOCTYPE html>
<html lang = "ko">
<head>
<title>순서 없는 리스트 만들기</title>
</head>
<body>
<ul>
<li>다음 운영체제가 아닌것은?</li>
<ul type= "square">
<li>Windows</li> 
<li>macOS</li> 
<li>Linux</li> 
<li>Interpreter</li>
</ul>
</ul>
</body>
</html>

###실습32

In [ ]:
<!DOCTYPE html>
<html lang="ko">
<head>
<title>순서 있는 리스트 만들기</title>
</head>

<body>
<ol type="I">
<li>다음 중 웹 브라우저가 아닌것은></li>
<ol>
<li>크롬</li>
<li>에지</li>
<li>사파리</li>
<li>다음</li>
</ol><br>
<li>다음 중 동영상 편집 프로그램이 아닌 것은?</li>
<ol type="a">
<li>프리미어 프로</li>
<li>포토샵</li>
<li>프리미어 러시</li>
<li>파이널 컷</li>
</ol><br>
<li>다음 중 Office 365에 포함된 프로그램이 아닌 것은></li>
<ol type = "A" start="9">
<li>메모장</li>
<li>드림위버</li>
<li>나모 웹에디터</li>
<li>그림판</li>
</ol>
</ol>
</body>
</html>

###실습33

In [ ]:
<!DOCTYPE html>
<html lang = "ko">
<head>
<title>표 작성하기</title>
</head>
<body>
<table border = "1">
<tr>
<th>성명</th>
<th>학과</th>
<th>학번</th>
</tr>
<tr>
<td>홍길동</td>
<td>컴퓨터공학과</td>
<td>202012345</td>
</tr>
<tr>
<td>김영희</td>
<td>영문학과</td>
<td>201945678</td>
</tr>
</table>
</body>
</html>

###실습34

In [ ]:
<!DOCTYPE html>
<html lang="ko">
<hrad>
<title>하이퍼링크 작성하기</title>
</head>
<body>
<a href="http://www.naver.com">네이버로 이동</a><br>
<a href="http://google.co.kr" target="_blank">구글로 이동(새창)</a>
</body>
<html>

###실습35

In [ ]:
#웹크롤링 기본

from bs4 import BeautifulSoup
from urllib.request import urlopen
with urlopen('https://en.wikipedia.org/wiki/Main_Page') as response:
    soup = BeautifulSoup(response, 'html.parser')
    for anchor in soup.find_all('a'):
        print(anchor.get('href', '/'))

###실습36

In [ ]:
#특정 요소 크롤링

import requests
from bs4 import BeautifulSoup

pageurl = requests.get('https://search.naver.com/search.naver?where=blog&sm=tab_viw.blog&query=%ED%8C%8C%EC%9D%B4%EC%8D%AC&nso=')

soup = BeautifulSoup(pageurl.content, 'html.parser')

result = soup.find_all(attrs = {'class':'api_txt_lines total_tit'})

for i in result:
    print(i.get_text())
    print(i.attrs['href'])

###실습37

In [ ]:
import requests
from bs4 import BeautifulSoup
import urllib.parse
import urllib.request

pageurl1 = 'https://search.naver.com/search.naver?where=blog&sm=tab_viw.blog&query='  #변하지x 주소
pageurl2 = urllib.parse.quote_plus(input('원하는 검색어를 입력: '))   #변하는 주소
pageurl = pageurl1 + pageurl2

html = urllib.request.urlopen(pageurl).read()

soup = BeautifulSoup(html, 'html.parser')

result = soup.find_all(attrs = {'class':'api_txt_lines total_tit'})

for i in result:
    print(i.get_text())
    print(i.attrs['href'])

###실습38

In [ ]:
import requests
from bs4 import BeautifulSoup

pageurl = requests.get('https://search.daum.net/search?w=blog&nil_search=btn&DA=NTB&enc=utf8&q=%ED%8C%8C%EC%9D%B4%EC%8D%AC')

soup = BeautifulSoup(pageurl.content, 'html.parser')

result = soup.find_all(attrs = {'class':'f_link_b'})

for i in result:
    print(i.get_text())
    print(i.attrs['href'])

파이썬 (1) - 파이썬 시작하기
http://datawizard.co.kr/6
파이썬 기본 문법 - 함수
http://realbylongines.tistory.com/14
[Python] 파이썬 설치 및 환경구축
http://joymaster.tistory.com/58
파이썬이란?
http://realbylongines.tistory.com/2
내부망에 파이썬 설치하기(초보용)
http://woo-woong-bigdata.tistory.com/6
파이썬 gspread 라이브러리로 구글시트 다루기
http://meir.tistory.com/162
파이썬 텔레그램 챗봇 만드는 방법
http://dorudoru.tistory.com/2038
성취감을 한껏 느끼며 익히는 파이썬 프로그래밍!
http://jpub.tistory.com/1243
파이썬 메일 업무 자동화 예제
http://codingopera.tistory.com/19
Day 9 : [온라인학습] 파이썬 라이브러리 기초
http://lucytakearest.tistory.com/8

###실습39

In [ ]:
import requests
from bs4 import BeautifulSoup
import urllib.parse
import urllib.request

pageurl1 = 'https://search.daum.net/search?w=blog&DA=PGD&enc=utf8&q=%ED%8C%8C%EC%9D%B4%EC%8D%AC&page='
pageurl2 = int(input('몇 번째 페이지 까지 크롤링 할까요? '))

for i in range(1, pageurl2 + 1):
    pageurl3 = pageurl1 + str(i)
    pageurl = requests.get(pageurl3)

    soup = BeautifulSoup(pageurl.content, 'html.parser')

    result = soup.find_all(attrs = {'class':'f_link_b'})

    for i in result:
        print(i.get_text())
        print(i.attrs['href'])

###실습40

In [ ]:
import requests
from bs4 import BeautifulSoup
import urllib.parse
import urllib.request

pageurl1 = 'https://search.daum.net/search?w=blog&nil_search=btn&DA=NTB&enc=utf8&q='
pageurl2 = urllib.parse.quote_plus(input('원하는 검색어를 입력 :'))
pageurl3 = '&page='
pageurl4 = urllib.parse.quote_plus(input('페이지 입력 :'))
pageurl = requests.get(pageurl1 + pageurl2 + pageurl3 + pageurl4)

soup = BeautifulSoup(pageurl.content, 'html.parser')

result = soup.find_all(attrs = {'class':'f_link_b'})

for i in result:
    print(i.get_text())
    print(i.attrs['href'])

###실습41

In [ ]:
import requests
from bs4 import BeautifulSoup
import urllib.parse
import urllib.request

pageurl1 = 'https://search.daum.net/search?w=blog&nil_search=btn&DA=NTB&enc=utf8&q='
pageurl2 = urllib.parse.quote_plus(input('원하는 검색어를 입력: '))
pageurl3 = '&page='
pageurl4 = input('몇 페이지까지 검색: ')
pageurl = requests.get(pageurl1 + pageurl2 + pageurl3 + pageurl4)

soup = BeautifulSoup(pageurl.content, 'html.parser')

result = soup.find_all(attrs = {'class':'f_link_b'})

for a in range(1, int(pageurl4) + 1):
    for i in result:
        print(i.get_text())
        print(i.attrs['href'])